
nav{
    padding: 30px 40px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav .icons-div{
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 20000000;
}

nav .icons-div li a > i{
    color: var(--blue-color-1);
    font-weight: bold;
    font-size: 18px;
    transition: .4s ease;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
}

nav .icons-div li a > i:hover{
    background-color: var(--blue-color-1);
    color: #fff;
    
    padding: .5rem;
}


nav .input-div input{
    z-index: 21000;
    margin-right: 3rem;
    min-width: 500px;
    outline: none;
    padding: .4rem;
    border-radius: 20px;
    border: 2px solid var(--blue-color-1);
    padding-left: 1.7rem;
}



nav .input-div{
    position: relative;
    z-index: 200000000;
}

nav .input-div i{
    position: absolute;
    top: 50%;
    left: 0;
    padding-left: 10px;
    transform: translateY(-50%);
    color: var(--blue-color-1);
}

nav ul .profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/static/images/no-profile-pic.jpg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

nav .menu-icon{
    font-size: 25px;
    color: var(--blue-color-1);
    font-weight: 600;
    cursor: pointer;
}

nav #menu-icon{
    z-index: 100000;
}

/* Dashboard */

.dashboard-h1{
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: -30%;
    left: 14.2%;
}



/* Table Section */

.table{
    position: relative;
}

.table-content{
    border-collapse: collapse;
    min-width: 400px;
    font: 0.9em;
    font-family: "Poppins", sans-serif;
    margin: 5rem auto;
    margin-bottom: 6rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content thead tr{
    background-color: var(--blue-color-1);
    color: #fff;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}

.table-content th,
.table-content td{
    padding: 12px 15px;
}

.table-content th:nth-child(2){
    text-align: center;
}

.table-content th:nth-child(3){
    text-align: center;
}

.table-content tbody tr{
    border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type{
    border-bottom: 3px solid var(--blue-color-1);
}

.active-row{
    color: var(--blue-color-1);
}

.td-container{
    display: flex;
    align-items: center;
}

.td-container .image-container{
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.td-container .article-title{
    font-size: 16px;
    font-weight: 600;
}

.article-type-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.article-type{
    color: #fff;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    padding: .5rem;
}

.date{
    font-size: 16px;
}

.delete-button{
    padding: .4rem;
    width: 80px;
    border-radius: 20px;
    background-color: rgba(193, 70, 70, 0.686);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    transition: .4s ease;
}

.edit-button{
    padding: .4rem;
    width: 80px;
    border-radius: 20px;
    background-color: var(--blue-color-1);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    transition: .4s ease;
}

.edit-button:hover{
    background-color: rgba(70, 102, 228, 0.686);
}

.delete-button:hover{
    background-color: rgba(226, 21, 21, 0.686);
}