{% extends "layout.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Swiper Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block main %}
    <div class="article-container">
        <!-- Article Items -->
        <div class="article-wrapper swiper-wrapper">
            {% for article in articles %}
                <div style="background: linear-gradient(rgba(63, 63, 65, 0.6), rgba(63, 63, 65, 0.6)), url('{{ article.image_path }}'); background-position: center;
                background-size: cover;" class="article-item swiper-slide">
                    <div class="article-content">
                        <h2 class="article-type">{{ article["type"] }}</h2>
                        <h1 class="article-title">{{ article["title"] }}</h1>
                        <p class="article-description">{{ article["description"] }}</p>
                        <a href="{{ url_for('view_news', article_id=article.id) }}" class="article-btn"><span>Read More</span></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Article Navigations-->
        <div class="article-navigations">
            <button id="slide-prev" class="material-symbols-outlined">arrow_left_alt</button>
            <button id="slide-next" class="material-symbols-outlined">arrow_right_alt</button>
        </div>
    </div>

    <div class="news-container">
        <section class="main-news">
            <div class="left-div">
                <div class="left-first-div">
                    <img class="div-first-img" src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Where to watch the best picture Oscar nominees</h2></a>
                </div>
                <div>
                    <img src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Where to watch the best picture Oscar nominees</h2></a>
                </div>
                <div>
                    <img src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Where to watch the best picture Oscar nominees</h2></a>
                </div>
            </div>
            <div class="center-div">
                <div class="center-news">
                    <img src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Close-up photography prize unveils nature's hidden beauty and brutality</h2></a>
                </div>
                <div>
                    <img src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Close-up photography prize unveils nature's hidden beauty and brutality</h2></a>
                </div>
                <div>
                    <img src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Close-up photography prize unveils nature's hidden beauty and brutality</h2></a>
                </div>
            </div>
            <div class="right-div">
                <div class="right-first-div">
                    <img class="div-first-img" src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Madison Keys looks for first major title at AO, while Aryna Sabalenka hopes to 'put my name into history'</h2></a>
                </div>
                <div>
                    <img src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Madison Keys looks for first major title at AO, while Aryna Sabalenka hopes to 'put my name into history'</h2></a>
                </div>
                <div>
                    <img src="/static/images/djokovic-murray-ao-2025-tuesday-1.jpg" alt="">
                    <a href=""><h2>Madison Keys looks for first major title at AO, while Aryna Sabalenka hopes to 'put my name into history'</h2></a>
                </div>
            </div>
        </section>
    </div>
    <div>
        
    </div>
    <div class="news-container">
        <section class="weekend-reads">
            <div class="first-card">
                <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                <h3 class="news-header">The nation that wants you to embrace your sleeping side</h3>
                <p class="news-description">Sweden's long cold nights might put you off going there in winter, unless, that is, you are in search of a good night's sleep</p>
                <div>
                    <p class="post-date">3 days ago</p>
                    <p class="news-type">Travel</p>
                </div>
            </div>
            <div class="second-card">
                <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                <h3 class="news-header">The nation that wants you to embrace your sleeping side</h3>
                <p class="news-description">Sweden's long cold nights might put you off going there in winter, unless, that is, you are in search of a good night's sleep</p>
                <div>
                    <p class="post-date">5 days ago</p>
                    <p class="news-type">Business</p>
                </div>
            </div>
        </section>
    </div>

    <div class="must-watch-container">
        <section class="must-watch">
            <h2>Video</h2>
            <div class="elements-container">
                <div class="image-container">
                    <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                    <div class="play-button"></div>
                </div>
                <div class="text-container">
                    <h3>The 'van lifers' who live on the road</h3>
                    <p>The Travel Show meets 'van lifers' who sold their homes and now spend their lives on the road.</p>
                    <a href="" class="see-more-btn">See More</a>
                </div>
            </div>
        </section>
    </div>

    <div class="featured-container">
        <h2>Featured Sections</h2>
        <section class="featured">
            <div class="featured-cards">
                <h3 class="section-type">Sports</h3>
                <div class="featured-image-container">
                    <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <a href=""><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3></a>
                <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero consequatur sequi libero veniam. Corporis nostrum mollitia, odio dolorum omnis molestiae quaerat nam aspernatur autem, cum rem culpa sequi adipisci reprehenderit!</p></a>
            </div>
            <div class="featured-cards">
                <h3 class="section-type">Sports</h3>
                <div class="featured-image-container">
                    <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <a href=""><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3></a>
                <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
            </div>
            <div class="featured-cards">
                <h3 class="section-type">Sports</h3>
                <div class="featured-image-container">
                    <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <a href=""><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3></a>
                <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
            </div>
            <div class="featured-cards">
                <h3 class="section-type">Sports</h3>
                <div class="featured-image-container">
                    <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <a href=""><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3></a>
                <a href=""><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero consequatur sequi libero veniam. Corporis nostrum mollitia, odio dolorum omnis molestiae quaerat nam aspernatur autem, cum rem culpa sequi adipisci reprehenderit!</p></a>
            </div>
            <div class="featured-cards">
                <h3 class="section-type">Sports</h3>
                <div class="featured-image-container">
                    <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <a href=""><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3></a>
                <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
            </div>
            <div class="featured-cards">
                <h3 class="section-type">Sports</h3>
                <div class="featured-image-container">
                    <img src="/static/images/932f07a5-c979-4d18-80f9-a6cf16d448fa_nole.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <a href=""><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3></a>
                <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer-container">
        <div class="footer-list">
            <a href="">Home</a>
            <a href="">Sports</a>
            <a href="">Politics</a>
            <a href="">Travel</a>
            <a href="">Style</a>
            <a href="">Business</a>
            <a href="">Inovation</a>
            <a href="">Arts</a>
            <a href="">Earth</a>
            <a href="">Culture</a>
        </div>
        <div class="social-media">
            <span>Follow us on:</span>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>  
    </div>
{% endblock %}

{% block script %}
    <!-- Swiper Script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Custom Script -->
    <script src="/static/js/script.js"></script>
{% endblock %}
